USE [C:\PROJETOS\FUNCAO\FI.WEBATIVIDADEENTREVISTA\FI.WEBATIVIDADEENTREVISTA\APP_DATA\BANCODEDADOS.MDF]
GO
/****** Object:  StoredProcedure [dbo].[FI_SP_AltBenef]    Script Date: 04/08/2020 17:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FI_SP_IncBenef]
    @NOME          VARCHAR (50),
	@CPF           VARCHAR (11)	
AS
BEGIN
	INSERT INTO BENEFICIARIOS (CPF,NOME)
	VALUES (@CPF,@NOME)

	SELECT SCOPE_IDENTITY()
END